# SafeWaters API - v0.5.0-dev
fastapi[standard]
python-memcached == 1.62
pydantic-settings
httpx

sqlmodel
pyjwt
passlib[bcrypt]

# SafeWaters API - v1.0.0-documentation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints